@media (max-width:1000px) {

  .header2{
    width:100%;
    height:60px;
  }

  .menu-item a {
    width:90px;
  }


  .garally {
    margin-top:60px;
  }

  .garally-wrapper {
    padding-top:0px;
  }
  
  .photo {
    width: 50%;
  }

  .about-wrapper {
    padding: 45px 40px 400px 40px;
    height:400px;
  }

  #text-wrap {
    width:100%;
    margin:0 auto;
    padding:0;
  }

  .news-wrapper {
    padding: 20px 40px;
    height:1300px;
  }

  .cp_card04 {
    width:100%;
  }

  .QandA-wrapper {
    height:300px;
  }

  .QandA-wrapper h1 {
    margin-bottom:0;
  }

  .cp_qa label {
    font-size:18px;
  }

  .cp_qa .cp_plus{
    margin: 3px 0 0 10px;
  }

  footer {
    width:100%;
    height:100px;
    padding:0;
  }

  footer p {
    font-size:13px;
  }
}

@media (max-width:700px){
  .menu{
    display:none;
  }

  .drawer {
    display:block;
    position: relative;
    top:0;
    height:auto;
    z-index:10;
  }

  .header2{
    padding:0px;
  }

}

@media (max-width:670px) {
  .QandA-wrapper h1 {
    font-size:30px;
  }
}